li.pill {
    display: inline;
}

li.pill a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

li.pill a.selected,
li.pill a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

li.pill a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
